venv/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
.gradle
activate
*.egg-info/

*.sublime-project
*.sublime-workspace
*.log
.sass-cache
.vscode/
.idea/

.idea
.pyc
__pycache__

*.pdf
.directory
pip_packages

